<footer>
  <div id="contact" class="container contact-container">
    <h3 class="section-title">Get in touch</h3>


    <p class="text-center section-description">
      Have a project idea you'd like implemented or to partner on?
      <br>
      Let's create awesome User Experiences together.
    </p>

    <div class="contact-icons" data-aos="fade-up" data-aos-offset="20" data-aos-duration="500">
      <a class="btn call-to-action" href="https://github.com/Wess58" target="_blank" title="github"><i class="fa-brands fa-github"></i></a>
      <a class="btn call-to-action" href="https://www.linkedin.com/in/wesley-mbate-b1b206177/" target="_blank" title="linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
      <a class="btn call-to-action" href="https://wa.me/254703926058" rel="external nofollow noopener" target="_blank" title="whatsapp"><i class="fa-brands fa-whatsapp"></i></a>
    </div>


    <p class="year">&#9400; {{year}}  </p>
  </div>
</footer>
