footer{
  .contact-icons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 30px auto;

    .call-to-action {
      border: 2px solid #f1d3bb;
      border-radius: 4px;
      background-color: transparent;
      color: #f1d3bb;
      font-size: 1.4rem;
      letter-spacing: 2px;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      text-decoration: none !important;
      margin: 0 10px;
      padding: 0;
      padding-left: 4px;
      transition: all 0.2s;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: #f1d3bb;
        color: #212121;
      }
    }
  }

  .year{
    color: #5f6063;
    text-align: center;
  }

}
