/* NAVBAR */
nav {
  // background-color: #212121;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 7px 0;
    border: 1px solid #fff1;
    background-color: #f1f1f111;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    margin: 15px 10px 0;
    // -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  .navbar-brand {
    font-family: "Unlock", cursive;
    border: 2px solid;
    border-radius: 0 10px 0 10px;
    padding: 5px;
    background: linear-gradient(
      30deg,
      rgb(255, 191, 0),
      #000,
      rgb(255, 191, 0)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  a {
    /* font-family: 'Righteous', cursive; */
    text-align: center;
    text-decoration: none;
    color: #f1f1f1 !important;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 5px 20px;
    width: 100px;
    position: relative;
    cursor: pointer;
    font-size: 0.9rem;
    &:hover {
      color: #3c4043 !important;
    }
  }

  a:before {
    position: absolute;
    left: -7px;
    top: -2px;
    height: 38px;
    background: #f1f1f1;
    content: "";
    opacity: 0;
    transition: all 0.3s ease;
    z-index: -1 !important;
    width: 110px;
    border-radius: 20px;
    transform: translateX(-30px);
  }

  a:hover:before {
    opacity: 1;
    transition: all 0.2s ease;
    transform: translateX(0);
  }

  .nav-item {
    display: inline-flex;
  }

  ul {
    padding: 0 !important;
    margin: 0 !important;
  }

  span i {
    color: #f1f1f1;
    visibility: hidden;
  }

  #logoIcon {
    width: 30px;
    height: 30px;
    visibility: visible;
  }
}
/* NAVBAR END */
/* CLASS FOR MEDIA QUERIES */
@media (max-width: 1000px) {
}
@media (max-width: 760px) {
  nav {
    padding: 0px !important;
    .container{
      padding: 10px 0;
    }

    a {
      text-decoration: none !important;
      margin: 5px 0;
      width: calc(90vw / 4);

      &:hover {
        .fas {
          color: #3c4043!important;
        }
      }

      .fas {
        color: #fff;
        cursor: pointer;
        text-align: center;
        margin: 5px 15px;
        font-size: 20px;
        visibility: visible;
        text-decoration: none !important;
      }
    }

    a:before {
      position: absolute;
      left: 12px;
      top: -3px;
      width: 60px;
      // width: calc(80vw / 4);
    }

    .nav-link {
      display: none;
    }
  }
}
