<nav class="navbar fixed-top navbar-expand-lg justify-content-center py-0">
  <!-- <span class="navbar-brand" href="#">PORTFOLIO</span> -->
  <!-- <img src="assets/images/menu.png" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> -->
  <div class="container">
    <ul>
      <li class="nav-item active">
        <a data-scroll class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
        <a href="#">
          <span>
            <i class="fas fa-home d-block d-sm-none "></i>
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a data-scroll class="nav-link" href="#skills">SKILLS</a>
        <a href="#skills">
          <span>
            <i class="fas fa-chart-pie d-block d-sm-none "></i>
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#projects">PROJECTS</a>
        <a href="#projects">
          <span>
            <i class="fas fa-folder d-block d-sm-none "></i>
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#contact">CONTACT</a>
        <a href="#contact">
          <span>
            <i class="fas fa-phone  d-block d-sm-none"></i>
          </span>
        </a>
      </li>
    </ul>
  </div>
</nav>
