<main class="container main">
  <div class="row rowSelf">
    <div class="col-12 col-xs-12 col-sm-12 col-md-6" style="display:flex;justify-content:center;align-items:center;">

      <img id="webDev_svg" src="assets/images/undraw_web_developer.svg">
      <img id="grey_blob" src="assets/images/grey_blob.svg" alt="grey-blob">
      <img id="darkblue_blob" src="assets/images/darkblue_blob.svg" alt="darkblue-blob">

      <!-- <img id="brown_bean" src="assets/images/coffee-bean_brown.svg">
      <img id="grey_bean" src="assets/images/coffee-bean_grey.svg"> -->

    </div>
    <div class="col-12 col-xs-12 col-sm-12 col-md-6">
      <div class="Aboutme">
        <h1>Always Creating</h1>
        <br>
        <h1>Always Creative</h1>
        <img id="brown_blob" src="assets/images/brown_blob.svg" alt="brown-blob">
        <img id="grey_blob2" src="assets/images/grey_blob.svg" alt="grey-blob">



        <!-- <img id="rounded_rectangle" src="src/assets/images/rectangle-rounded.svg" alt="rounded_rectangle"> -->
        <hr>
        <h4 class="mb-3">Hello , I'm Wesley</h4>
        <p> A young IT enthuthiast who decided to dive into the exciting world of programming.</p>
        <p>I live in Nairobi, Kenya. My intrinsic
          drive to do programming was inspired by wanting to discontinue a trend of constant consumerism; by learning how to give back to the community not only through creating brilliant Apps, but also teaching the skill to young aspiring computer
          programmers.<br>
        </p>

        <a href="#contact" class="btn callToAction btn-sm mt-3">CONTACT</a>

      </div>
    </div>
  </div>
</main>
