<div id="projects" class=" container-fluid projectsContainer">


  <div class="container">
    <h2>Projects</h2>

    <hr>
    <h6 class="text-center my-5">Have a dive into projects from a <span>variety of languages</span> - from <span>Java</span> for Android <br>Apps to <span>Typescript</span> for some powerful Angular Web Apps. </h6>

  </div>

  <div class="row">

    <div class="colxs-12 col-sm-6 col-md-3">

      <h4>ARTISSANS ANDROID</h4>

      <div data-aos="fade-up" data-aos-duration="1000" data-aos-offset="20" class="card cardart">
        <div class="imgBx">

          <img id="art" src="assets/images/art.png">

        </div>
        <div class="details">
          <h2>Artissans App</h2>
          <p>This Android App is aimed at providing artists in our time with a resolve for marketing their art and more so bridging the apparent gap between artists and clients.We provide a platform for emerging and established artists to exhibit,
            promote, and share their works with an enthusiastic, art-centric community</p>


          <a href="https://github.com/Wess58/Artissans" target="_blank"><button class="btn btn-outline-light"> Visit on Github &#8594;</button></a>

        </div>
      </div>
    </div>
    <div class="colxs-12 col-sm-6 col-md-3">

      <h4>R-C QUADCOPTER </h4>

      <div data-aos="fade-up" data-aos-duration="1000" data-aos-offset="200" class="card cardDrone">
        <div class="imgBx">

          <img id="drone" src="assets/images/drone .png">

        </div>
        <div class="details">
          <h2>R-C DRONE</h2>
          <p>With the recent advancement in technology the commercial drone-users demand an innovative, cost-effective and modulated solution to help in all applications of drone.The drone controlled by an Android application, that is written in
            Java, connected via WI-FI and tcp/ip protocol.C and C++ code is used to program the EEPROM.</p>


          <a href="https://github.com/zecollokaris/Remote-Control-Falcon-1-Quadcopter" target="_blank"><button class="btn btn-outline-light"> Visit on Github &#8594;</button></a>

        </div>
      </div>
    </div>


    <div class="colxs-12 col-sm-6 col-md-3 ">
      <h4>GITSEARCH WEB APP</h4>

      <div data-aos="fade-up" data-aos-duration="1000" data-aos-offset="300" class="card cardgithub">
        <div class="imgBx">

          <img id="github" src="assets/images/github.png">
        </div>
        <div class="details">
          <h2>Gitsearch WebApp</h2>
          <p>This App is created to put to use Github's API that enables a user to search for github accounts,view certain details of an account, view repositories of that account and manoeuver to live links of repositories and github accounts.</p>
          <a href="https://github.com/Wess58/Gitsearch" target="_blank"><button class="btn btn-outline-light"> Visit on Github &#8594;</button></a>
          <br>
          <a href="https://wess58.github.io/Gitsearch/" target="_blank"><button class="btn btn-outline-light" name="button">Live Site</button></a>

        </div>
      </div>
    </div>
    <div class="colxs-12 col-sm-6 col-md-3 ">
      <h4>WILDLIFE-TRACKER</h4>
      <div data-aos="fade-up" data-aos-duration="1000" data-aos-offset="400" class="card cardwidlife">
        <div class="imgBx">

          <img id="wildlife" src="assets/images/elephant.png">
        </div>
        <div class="details">
          <h2>Ulinzi Wildlife-Tracker</h2>
          <p>This app allows Rangers to track wildlife sightings in the area, record them and ensure the animals are isolated to a safer zone. All with the help of a user-friendly interface and reliable database.</p>
          <a href="https://github.com/Wess58/wildlife-tracker" target="_blank"><button class="btn btn-outline-light"> Visit on Github &#8594;</button></a>
          <br>
          <a href="https://dry-sands-80956.herokuapp.com/" target="_blank"><button class="btn btn-outline-light" name="button">Live Site</button></a>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>


  <h6 class="text-center my-5">Feel <span>intrigued</span> to see some more projects already? <br><br> Well , visit <span id="myGithub"><a href="https://github.com/Wess58" target="_blank">my github</a></span> to have a broader spect of what a
    <span>young</span> programmer can do! </h6>
</div>
