<div class="container">
  <!-- <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Quick Contact
        </mat-panel-title>
        <mat-panel-description>
          Contact today, and get feedback within 24 hours!
        </mat-panel-description>
      </mat-expansion-panel-header>


      <form>
        <mat-form-field appearance="legacy">
          <mat-label>Name</mat-label>
          <input matInput required>
        </mat-form-field>
          <br>
          <mat-form-field appearance="legacy">
            <mat-label>Email</mat-label>
            <input type="email" matInput required>
        </mat-form-field>
            <br>
            <mat-form-field>
              <textarea matInput placeholder="Textarea"></textarea>
            </mat-form-field>
            <br>
            <div class="example-button-row">
              <button type="submit" mat-raised-button >SEND</button>
            </div>
      </form>




    </mat-expansion-panel>
  </mat-accordion> -->


  <footer>
    <div id="bottom">
      <a href="https://www.instagram.com/wess_._wesley/"><img  matTooltip="Instagram"  [matTooltipPosition]="position" class="bottom" src="src/assets/images/instagram.png" alt="Insta"></a>
      <a href="https://drive.google.com/open?id=1hjtGKC5JUB8N9zLXGLn_JTIy1FCdR4cn"><img matTooltip="Google Drive"  [matTooltipPosition]="position" class="bottom" src="src/assets/images/Drive.ico"></a>
      <a href="https://github.com/Wess58"><img matTooltip="Github"  [matTooltipPosition]="position" class="bottom" src="src/assets/images/github.png"></a>
      <br>
      <br>
      <p class="contact">Email: wessaosdev@gmail.com <br> Copyright 2018 wesleymbate - All Rights Reserved</p>
    </div>
  </footer>
</div>
