<div id="contact" class="container">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
        Contact Me
        </mat-panel-title>
        <mat-panel-description>
          click to reveal form
        </mat-panel-description>
      </mat-expansion-panel-header>


      <form>
        <mat-form-field appearance="legacy">
          <mat-label>Name</mat-label>
          <input matInput required>
        </mat-form-field>
          <br>
          <mat-form-field appearance="legacy">
            <mat-label>Email</mat-label>
            <input type="email" matInput required>
        </mat-form-field>
            <br>
            <mat-form-field>
              <textarea matInput placeholder="Textarea"></textarea>
            </mat-form-field>
            <br>
            <div class="example-button-row">
              <button type="submit" mat-raised-button >SEND</button>
            </div>
      </form>




    </mat-expansion-panel>
  </mat-accordion>


  <footer>
    <div id="bottom">
      <a href="www.Linkedin.com/in/wesley-mbate-b1b206177"><img  matTooltip="LinkedIn"  [matTooltipPosition]="position" class="bottom" src="assets/images/linkedIn.png"></a>
      <a href="https://www.deviantart.com/wessnyangau"><img matTooltip="Deviant Art"  [matTooltipPosition]="position" class="bottom" src="assets/images/DeviantArt.png"></a>
      <a href="https://github.com/Wess58"><img matTooltip="Github"  [matTooltipPosition]="position" class="bottom" src="assets/images/github.png"></a>
      <br>
      <br>
      <p class="contact">Email: wessaosdev(at)gmail.com <br> &#9400; 2018 wesleymbate - All Rights Reserved</p>
    </div>
  </footer>
</div>
