<div id="projects" class="container projects-container">

  <h3 class="section-title">Projects</h3>
  <p class="section-description"> Here you will find an array of the corporate, personal and client-partnered projects
  </p>



  <div class="featured-projects-listing d-none d-md-block">
    <div class="project-item" *ngFor="let project of keyProjects;index as i" [ngClass]="{'flex-row-reverse':i%2}">

      <div class="col-md-6">
        <div class="project-img-holder" data-aos="fade-up" data-aos-offset="70" data-aos-duration="1000">
          <img [src]="project.imgUrl" alt="project-illustration">
        </div>
      </div>

      <div class="col-md-6">

        <div class="project-details right-align" [ngClass]="{'left-align': i%2}">
          <div class="card" data-aos="fade-up" data-aos-offset="100" data-aos-duration="1200">
            <h4>{{project.name}}</h4>
            <p>{{project.description}}</p>
            <div class="technologies">
              <span *ngFor="let tech of project.technologies">{{tech}}</span>
            </div>
            <div class="action-btns">
              <a *ngIf="project.githubLink" [href]="project.githubLink" target="_blank" title="Github" class="btn btn-github"><i class="fa-brands fa-github"></i></a>
              <a *ngIf="project.liveLink" [href]="project.liveLink" target="_blank" title="Live site" class="btn btn-live"><i class="fa-solid fa-circle-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="phone-projects-listing d-block d-md-none">
    <div class="project-item" *ngFor="let project of keyProjects;index as i" data-aos="fade-up" data-aos-offset="100" data-aos-duration="1200">
      <img [src]="project.imgUrl" alt="project-illustration">
      <div class="card">
        <h4>{{project.name}}</h4>
        <p>{{project.description}}</p>
        <div class="technologies">
          <span *ngFor="let tech of project.technologies">{{tech}}</span>
        </div>
        <div class="action-btns">
          <a *ngIf="project.githubLink" [href]="project.githubLink" target="_blank" title="Github" class="btn btn-github"><i class="fa-brands fa-github"></i></a>
          <a *ngIf="project.liveLink" [href]="project.liveLink" target="_blank" title="Live site" class="btn btn-live"><i class="fa-solid fa-circle-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>


  <h5 class="secondary-section-title mb-5">Noteworthy projects</h5>


  <div class="other-projects-listing">
    <div class="row">
      <div class="col-md-6 col-lg-4" *ngFor="let project of otherProjects;index as i" data-aos="fade-up" data-aos-offset="100 + (i * 20)" data-aos-duration="1000">
        <div class="card project-card">
          <h4>{{project.name}}</h4>
          <p>{{project.description}}</p>
          <div class="action-btns">
            <a *ngIf="project.githubLink" [href]="project.githubLink" target="_blank" title="Github" class="btn btn-github"><i class="fa-brands fa-github"></i></a>
            <a *ngIf="project.liveLink" [href]="project.liveLink" target="_blank" title="Live site" class="btn btn-live"><i class="fa-solid fa-circle-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>
