.main {
  margin-top: 10vh;
  padding: 10vh 0;

  .illustrations-holder {
    position: relative!important;
    text-align: center;

    #webDev_svg {
      width: auto;
      height: 300px;
      margin-top: 80px;
    }

    #grey_blob {
      width: auto;
      height: 800px;
      position: absolute;
      top: -200px;
      left: -200px;
      z-index: -5;
      opacity: 0.5;
      transform: rotate(45deg);
    }

    #darkblue_blob {
      width: auto;
      height: 950px;
      position: absolute;
      top: -270px;
      left: -300px;
      z-index: -10;
      transform: rotate(-10deg);
    }
  }

  .about-me {
    color: #f1f1f1;
    padding: 20px;
    margin-bottom: 2em;
    font-size: 16px;
    letter-spacing: 1px;

    h1 {
      font-family: 'Varela Round', sans-serif;
      font-weight: 600;
      color: #f1f1f1;
      font-size: 50px;
      text-transform: uppercase;
    }

    h4 {
      color: #f1d3bb;
      font-weight: 600;
    }

    .contact-icons {
      display: flex;
      margin: 30px 0;

      .call-to-action {
        border: 2px solid #f1d3bb;
        border-radius: 4px;
        background-color: transparent;
        color: #f1d3bb;
        font-size: 1.4rem;
        letter-spacing: 2px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        text-decoration: none !important;
        margin: 0 10px;
        padding: 0;
        padding-left: 4px;
        transition: all 0.2s;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: #f1d3bb;
          color: #212121;
        }
      }
    }

    #brown_blob {
      position: absolute;
      top: -100px;
      right: -200px;
      z-index: -10;
      transform: rotate(20deg);
      height: 400px;
      width: 400px;
      opacity: 0.5;
      -webkit-webkit-animation: clockwiseRotation 200s infinite linear;
      -moz-webkit-animation: clockwiseRotation 200s infinite linear;
      -ms-webkit-animation: clockwiseRotation 200s infinite linear;
      -o-webkit-animation: clockwiseRotation 200s infinite linear;
      animation: clockwiseRotation 200s infinite linear;
    }

    #grey_blob2 {
      position: absolute;
      top: 350px;
      left: 300px;
      z-index: -10;
      transform: rotate(20deg);
      width: auto;
      height: 200px;
      opacity: 0.5;
      -webkit-webkit-animation: clockwiseRotation 200s infinite linear;
      -moz-webkit-animation: clockwiseRotation 200s infinite linear;
      -ms-webkit-animation: clockwiseRotation 200s infinite linear;
      -o-webkit-animation: clockwiseRotation 200s infinite linear;
      animation: clockwiseRotation 200s infinite linear;
    }
  }
}
@keyframes slide {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@-webkit-keyframes slide {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/* ********************************************** */
/* Rotation Animation START */
@-webkit-keyframes clockwiseRotation {
  from {
    -webkit-transform: rotate();
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes antiClockwiseRotation {
  from {
    -webkit-transform: rotate();
  }

  to {
    -webkit-transform: rotate(-360deg);
  }
}
/* CLASS FOR MEDIA QUERIES */
@media (max-width: 1920px) {}
@media (max-width: 1280px) {}
@media (max-width: 770px) {
  .main {
    overflow-x: hidden!important;
    margin-top: 0;
    margin-bottom: 10vh;
    padding: 5vh 0;
  }

  #webDev_svg {
    width: 300px!important;
  }

  .Aboutme {
    margin-top: -100px!important;
  }

  #brown_blob,
  #darkblue_blob {
    display: none;
  }
}
