<main class="container main">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6" data-aos-disable="phone"data-aos-once="true"  data-aos="fade-right" data-aos-delay="1000" data-aos-duration="1500">
      <div class="illustrations-holder">

        <img id="webDev_svg" src="assets/images/undraw_web_developer.svg">
        <img id="grey_blob" src="assets/images/grey_blob.svg" alt="grey-blob">
        <img id="darkblue_blob" src="assets/images/darkblue_blob.svg" alt="darkblue-blob">

      </div>
    </div>
    <div class="col-12 col-sm-12 col-lg-6">


      <div class="about-me">
        <h1 class="mb-4" data-aos-once="true" data-aos="fade-left" data-aos-delay="1000" data-aos-duration="1000">Always Creative</h1>
        <h1 data-aos-once="true" data-aos="fade-left" data-aos-delay="1100" data-aos-duration="1000">Always Creating</h1>
        <img id="brown_blob" src="assets/images/brown_blob.svg" alt="brown-blob">
        <img id="grey_blob2" src="assets/images/grey_blob.svg" alt="grey-blob">


        <h4 class="my-4" data-aos-once="true" data-aos="fade-left" data-aos-delay="1200" data-aos-duration="1300">Hello , I'm Wesley Mbate .</h4>
        <p data-aos-once="true" data-aos="fade-left" data-aos-disable="phone" data-aos-delay="1300" data-aos-duration="1500"> A Tech Enthuthiast who decided to dive into the exciting world of software development by specializing in building exceptional dynamic digital experiences. </p>

        <div class="contact-icons" data-aos="fade-left" data-aos-once="true" data-aos-delay="1500" data-aos-duration="1500">
          <a class="btn call-to-action" href="https://github.com/Wess58" target="_blank" title="github"><i class="fa-brands fa-github"></i></a>
          <a class="btn call-to-action" href="https://www.linkedin.com/in/wesley-mbate-b1b206177/" target="_blank" title="linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
          <a class="btn call-to-action" href="https://wa.me/254703926058" rel="external nofollow noopener" target="_blank" title="whatsapp"><i class="fa-brands fa-whatsapp"></i></a>
        </div>

        <!-- <a href="#contact" class="btn call-to-action">CONTACT</a> -->

      </div>
    </div>
  </div>
</main>
