.notAvgContainer {
  box-shadow: 0 0 0 0;
}

.skillsContainer {
  margin-bottom: 10%;
  background-color: transparent;
  border-radius: 5px;
}

h2 {
  font-family: 'Unlock', cursive;
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
}

h4 {
  font-family: 'Righteous', cursive;
}

h6 {
  font-family: 'Righteous', cursive;
}

p {
  letter-spacing: 1px;
  color: #403d3d;
}

a {
  color: black;
  text-decoration: underline;
}

img {
  width: 60px;
  height: 60px;
  margin: 10px;
}

.cardSkills {
  font-family: 'Exo', sans-serif;
  padding: 10px;
  width: 350px;
  height: 300px;
  border-radius: 15px;
  border-style: none;
  background-color: #fff;
  box-shadow: 0 4.5px 10px 1px rgba(0, 0, 0, 0.4);
}

.BorderB {
  position: absolute;
  background: #000;
  width: 50px;
  height: 5px;
  border-radius: 20px;
  transition: all .3s ease;
}

#Android .BorderB {
  top: 120px;
}

#Android:hover .BorderB {
  position: absolute;
  background: #A4C639;
  height: 5px;
  width: 100px;
  height: 5px;
  border-radius: 20px;
}

#Java .BorderB {
  top: 120px;
}

#Java:hover .BorderB {
  position: absolute;
  background: #5382a1;
  top: 120px;
  height: 5px;
  width: 100px;
  height: 5px;
  border-radius: 20px;
}

#Angular .BorderB {
  top: 120px;
}

#Angular:hover .BorderB {
  position: absolute;
  background: #de2323;
  top: 120px;
  height: 5px;
  width: 100px;
  height: 5px;
  border-radius: 20px;
}

#Spark .BorderB {
  top: 100px;
}

#Spark:hover .BorderB {
  position: absolute;
  background: #ff811b;
  height: 5px;
  width: 100px;
  height: 5px;
  border-radius: 20px;
}

#html .BorderB {
  top: 100px;
}

#html:hover #HTML .BorderB {
  background: #e34f26;
}

#html:hover #CSS .BorderB {
  background: #2fbdf1;
}

#html:hover #Bootstrap .BorderB {
  background: #3339d0;
}

#IDE .BorderB {
  top: 120px;
}

#IDE:hover .BorderB {
  position: absolute;
  background: #BAE7F5;
  width: 100px;
  height: 5px;
  border-radius: 20px;
}

#moringalogo {
  width: 200px;
  height: 100px;
}

@media only screen and (max-width: 700px) {
  .skillsContainer {
    margin-top: 1rem;
  }

  .notAvgContainer img {
    display: none;
  }

  .notAvgContainer h4 {
    text-decoration: underline;
  }

  .notAvgContainer h6 {
    text-decoration: underline;
  }
  .BorderB{
    display: none;
  }
}
