.notAvgContainer {
  box-shadow: 0 0 0 0;
}

.skillsContainer {
  margin-bottom: 10%;
  background-color: transparent;
  border-radius: 5px;
}

h2 {
  font-family: 'Unlock', cursive;
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
}

h4 {
  font-family: 'Righteous', cursive;
}

h6 {
  font-family: 'Righteous', cursive;
}

p {
  font-family: 'Righteous', cursive;
}

a {
  color: black;
  text-decoration: underline;
}

img {
  width: 60px;
  height: 60px;
  margin: 10px;
}

.cardSkills {
  font-family: 'Song Myung', serif;
  padding: 10px;
  width: 350px;
  height: 300px;
  margin-bottom: 10%;
  border-style: none;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.3);
}

#moringalogo {
  width: 200px;
  height: 100px;
}

@media only screen and (max-width: 700px) {
  .skillsContainer {
    margin-top: 1rem;
  }

  .notAvgContainer img {
    display: none;
  }

  .notAvgContainer h4 {
    text-decoration: underline;
  }

  .notAvgContainer h6 {
    text-decoration: underline;
  }
}
