.skillsContainer {
  margin-bottom: 5vh;
  background-color: transparent;
  border-radius: 5px;

  h2 {
    color: #f1f1f1;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 2.5rem;
    text-transform: uppercase;

    span {
      border-bottom: 3px solid #f1f1f155;
    }
  }

  .switch-tab {
    border-bottom: 0.1px solid #f1f1f155;
    margin-top: 20px;

    .tab {
      color: #f1f1f1;
      padding: 10px 20px;
      cursor: pointer;
      border-bottom: 3px solid transparent;
    }
  }

  .languages {
    .cardSkills {
      padding: 10px;
      width: 100%;
      min-height: 300px;
      border-radius: 15px;
      border-style: none;
      background-color: #3c4043;
      box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.09);

      img {
        width: 60px;
        height: 60px;
        margin: 10px 10px 10px 0;
      }

      img::selection {
        background-color: transparent!important;
      }

      h4 {
        color: #f1f1f1;
        font-family: 'Varela Round', sans-serif;
        font-weight: bold;
        letter-spacing: 1px;
      }

      p {
        letter-spacing: 1px;
        color: #f1f1f1;
      }
    }
  }

  .education {
    margin-top: 5vh;
    margin-bottom: 10vh;

    h4 {
      color: #f1f1f1;
      font-family: 'Varela Round', sans-serif;
      font-weight: bold;
      a{
        color: #f1f1f1;

      }
    }

    p {
      letter-spacing: 1px;
      color: #f1f1f1;
    }

    img {
      width: 60px;
      height: 60px;
      margin: 10px 10px 10px 0;
    }

    i.fa-certificate {
      font-size: 2rem;
      margin-right: 10px;
      color: #f1f1f1;
    }
  }

  .BorderB {
    position: absolute;
    background: #3c4043;
    width: 50px;
    height: 5px;
    border-radius: 20px;
    transition: all 0.3s ease;
  }

  #Android .BorderB {
    top: 120px;
  }

  #Android:hover .BorderB {
    position: absolute;
    background: #A4C639;
    height: 5px;
    width: 100px;
    border-radius: 20px;
  }

  #Java .BorderB {
    top: 120px;
  }

  #Java:hover .BorderB {
    position: absolute;
    background: #5382a1;
    height: 5px;
    width: 100px;
    border-radius: 20px;
  }

  #Angular .BorderB {
    top: 122px;
  }

  #Angular:hover .BorderB {
    position: absolute;
    background: #de2323;
    height: 5px;
    width: 100px;
    border-radius: 20px;
  }

  #Spark .BorderB {
    top: 120px;
  }

  #Spark:hover .BorderB {
    background: #ff811b;
    height: 5px;
    width: 100px;
    border-radius: 20px;
  }

  #html .BorderB {
    top: 110px;
  }

  #html:hover #HTML .BorderB {
    background: #e34f26;
    height: 5px;
    width: 80px;
    border-radius: 20px;
  }

  #html:hover #CSS .BorderB {
    background: #2fbdf1;
    height: 5px;
    width: 80px;
    border-radius: 20px;
  }

  #IDE .BorderB {
    top: 120px;
  }

  #IDE:hover .BorderB {
    position: absolute;
    background: #BAE7F5;
    width: 100px;
    height: 5px;
    border-radius: 20px;
  }

  #moringalogo {
    width: 200px;
    height: 100px;
  }
}

.borderBottom {
  border-bottom: 3px solid #f1f1f1!important;
}

::ng-deep .mat-tab-label,
::ng-deep .mat-tab-labels,
::ng-deep .mat-tab-link,
::ng-deep.mat-tab-label-content {
  font-family: 'Exo', sans-serif;
  color: #fff!important;
  font-size: 16px;
  font-weight: 600;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
::ng-deep.mat-tab-nav-bar .mat-primary .mat-ink-bar {
  background: #f1f1f1;
  height: 3px;
  border-radius: 5px;
}

::ng-deep .mat-tab-header {
  border-bottom: 1px solid #f1f1f1;
}


// ************************************************
// MEDIA QUERIES
// *****************************************
//
// 
@media only screen and (max-width: 700px) {
  .skillsContainer {
    margin-top: 1rem;
    margin-bottom: 10vh;
    padding: 0px 20px!important;
  }

  .languages h4 {
    margin-bottom: 0px!important;
  }

  .cardSkills {
    text-align: center;
    min-height: auto!important;
  }

  .cardSkills p {
    font-size: 14px;
  }

  .BorderB {
    display: none;
  }
}
