<div id="skills" class="container">

  <div>
    <h2>Skills<img src="assets/images/employee.png"></h2>
  </div>

  <hr>


  <mat-tab-group>
    <!-- CODING SKILLS -->
    <mat-tab class="labels" label="Languages">
      <div class="container notAvgContainer">
        <div class="row">
          <div class="col-md-4 d-flex justify-content-center">
            <div data-aos="zoom-in" data-aos-duration="1500" class="card cardSkills">
              <img src="assets/images/android.png">
              <h4>ANDROID</h4>
              <p>Android is a Google’s mobile operating system, built off of Java. It is designed primarily for touch screen mobile devices to watches, TVs and more.</p>
            </div>
          </div>
          <div class="col-md-4 d-flex justify-content-center">
            <div data-aos="zoom-in" data-aos-duration="1500" class="card cardSkills">
              <img src="assets/images/java.png">

              <h4>JAVA8</h4>
              <p>Java is a High-Level programming language that produces software for multiple platforms including Android, Windows, Linux and Mac OS.</p>
            </div>

          </div>
          <div class="col-md-4 d-flex justify-content-center">
            <div data-aos="zoom-in" data-aos-duration="1500" class="card cardSkills">
              <img src="assets/images/angular.png" >
              <h4>Angular6 FrameWork</h4>
              <p>It's a structural framework for dynamic web apps. It lets you use HTML as your template language and extend HTML's syntax to express your application's components clearly and succinctly.</p>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-6 d-flex justify-content-center">
            <div data-aos="zoom-in" data-aos-duration="1500" class="card cardSkills">
              <img src="assets/images/spark.svg" >
              <h4>Spark Framework</h4>
              <p>Spark Framework is a simple and expressive Java web framework DSL built for rapid development. Sparks intention is to provide an alternative for Java developers that want to develop their web applications as expressive as possible.</p>
            </div>

          </div>
          <div class="col-md-6 d-flex justify-content-center">
            <div data-aos="zoom-in" data-aos-duration="1500" class="card cardSkills">
              <div class="row">
                <div class="col-md-4">
                    <img src="assets/images/html.png">
                    <h6>HTML5</h6>
                </div>
                <div class="col-md-4">
                  <img src="assets/images/css.png">
                  <h6>CSS3</h6>
                </div>
                <div class="col-md-4">
                  <img src="assets/images/bootstrap.png">
                  <h6>Bootstrap</h6>
                </div>
              </div>


              <p>Its an authoring tool that is used in creating Internet Web pages.One can add Styling to plain HTML using CSS, BootStrap or any other tools like those.</p>
            </div>

          </div>

        </div>

      </div>



    </mat-tab>

    <!-- EDUCATION -->
    <mat-tab label="Education">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <p><a href="https://www.moringaschool.com/">Moringa School</a></p>

          <p>June 2018 - Dec 2018
            <br>
          Certificate of Java-Android Mobile Development</p>

        </div>
        <div class="col-sm-12 col-md-6">
          <p><a href="https://www.kenyaplex.com/schools/917-kanunga-high-school.aspx">Kanunga High School</a></p>

          <p>Feb 2012 - November 2015
            <br>
          Certification: Kenya National Examination (KCSE)</p>

        </div>

      </div>

    </mat-tab>


    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>


</div>
