<div id="skills" class="container skillsContainer">

  <div>
    <h2>Skills<img src="assets/images/employee.png"></h2>
  </div>

  <hr>


  <mat-tab-group>
    <!-- CODING SKILLS -->
    <mat-tab class="labels" label="Languages">
      <div class="container notAvgContainer">
        <div class="row Languages">
          <div class="col-md-4 d-flex justify-content-center">
            <div data-aos="zoom-in" data-aos-duration="1500" class="card cardSkills">
              <img src="assets/images/android.png">
              <h4>ANDROID</h4>
              <p>Android is a Google’s mobile operating system, built off of Java. It is designed primarily for touch screen mobile devices to watches, TVs and more.</p>
            </div>
          </div>
          <div class="col-md-4 d-flex justify-content-center">
            <div data-aos="zoom-in" data-aos-duration="1500" class="card cardSkills">
              <img src="assets/images/java.png">

              <h4>JAVA8</h4>
              <p>Java is a High-Level programming language that produces software for multiple platforms including Android, Windows, Linux and Mac OS.</p>
            </div>

          </div>
          <div class="col-md-4 d-flex justify-content-center">
            <div data-aos="zoom-in" data-aos-duration="1500" class="card cardSkills">
              <img src="assets/images/angular.png">
              <h4>Angular6 FrameWork</h4>
              <p>It's a structural framework for dynamic web apps. It lets you use HTML as your template language and extend HTML's syntax to express your application's components clearly and succinctly.</p>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-4 d-flex justify-content-center">
            <div data-aos="zoom-in" data-aos-duration="1500" class="card cardSkills">
              <img src="assets/images/spark.svg">
              <h4>Spark Framework</h4>
              <p>Spark Framework is a simple and expressive Java web framework DSL built for rapid development. Sparks intention is to provide an alternative for Java developers that want to develop their web applications as expressive as possible.</p>
            </div>

          </div>
          <div class="col-md-4 d-flex justify-content-center">
            <div data-aos="zoom-in" data-aos-duration="1500" class="card cardSkills ">
              <div class="row html">
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <img src="assets/images/html.png">
                  <h6>HTML5</h6>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <img src="assets/images/css.png">
                  <h6>CSS3</h6>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <img src="assets/images/bootstrap.png">
                  <h6>Bootstrap</h6>
                </div>
              </div>
              <p>Its an authoring tool that is used in creating Internet Web pages.One can add Styling to plain HTML using CSS, BootStrap or any other tools like those.</p>
            </div>

          </div>
          <div class="col-md-4 d-flex justify-content-center">
            <div data-aos="zoom-in" data-aos-duration="1500" class="card cardSkills">
              <img src="assets/images/idea.png">
              <h4>Dev Environments</h4>
              <p>An integrated development environment (IDE) is a software application that provides comprehensive facilities to computer programmers for software development.Some I have used are like Atom, IntelliJ, Android Studio and Sublime.</p>
            </div>

          </div>

        </div>

      </div>



    </mat-tab>
    <!-- EDUCATION -->
    <mat-tab label="Education">
      <div class="container">
        <div style="padding-top:5%;" class="row">
          <div class="col-sm-12 col-md-6">
            <h4><a href="https://www.moringaschool.com/" style="color:rgba(32, 70, 11);">Moringa School</a></h4>
            <p>June 2018 - Dec 2018</p>
            <img id="moringalogo" src="assets/images/moringalogo.png">

            <p>
              <img class="Certificate" src="assets/images/graduate-diploma.png">
              Certificate of Java-Android Mobile Development - 20weeks
              <br>
              <img class="Certificate" src="assets/images/graduate-diploma.png">
              Certificate of Web Development - 5weeks
            </p>
            <p>The learning-curve in Moringa is rigorous, the social ambiance is very involving and the level of skill finesse is quite unrivaled. I enjoyed the intense program with hours of practical coding, beating harsh deadlines and improving my know-how as a stringent team-leader and virtuous team-member.
            Very proficient in HTML, CSS & Bootstrap, XML, Angular & Spark frameworks and specialized in Java for Android Mobile Development.
            </p>

          </div>
          <div class="col-sm-12 col-md-6">
            <h4><a href="https://www.kenyaplex.com/schools/917-kanunga-high-school.aspx" style="color:rgba(135, 67, 13, 1);">Kanunga High School</a></h4>

            <p>Feb 2012 - November 2015
              <br>
              <img class="Certificate" src="assets/images/graduate-diploma.png">
              Certification: Kenya National Examination (KCSE)</p>

          </div>

        </div>
      </div>


    </mat-tab>



  </mat-tab-group>


</div>
