<div class="container-fluid">
  <div class="container cont">
    <div class="row rowSelf">
      <div class="col-xs-12 col-sm-12 col-md-5">

        <img id="selfimage" src="assets/images/wesley.jpg">




      </div>
      <div class="col-xs-12 col-sm-12 col-md-7">
        <div class="Aboutme">
          <h2>Wesley Mbate <img src="assets/images/programmer.png"></h2>
          <hr>
          <p> I am a young IT enthuthiast who decided to dive into the exciting world of programming. I live in Nairobi, Kenya. I acquainted myself with coding skills from<a href="https://moringaschool.com/"> Moringa School</a>- A brilliant
            institution
            I should say. My intrinsic
            drive to do programming was inspired by wanting to discontinue a trend of constant consumerism; by learning how to give back to the community not only through creating brilliant Apps, but also teaching the skill to young aspiring
            computer
            programmers.<br>
            I am also a subtle self-taught artist helped me in my amazing coding journey.It has helped me
            nature moral-excellencies like patience, gentleness, keenness and creativity.</p>

        </div>
      </div>
    </div>
    <div style="display:flex;justify-content:center;align-items:center;">
      <div>
        <figure class="front">
          <div class="caption">
            <h1>WESLEY <span>M.G</span></h1>
            <p>Software Developer
              <br>
              Android & Web Designer
              <br>
              Phone : +254 703 926 058
              <br>
              Email : wesleymbate@gmail.com
            </p>
          </div>
        </figure>
      </div>
    </div>

    <div style="display:flex;justify-content:center;align-items:center;">
      <div>
        <svg id="more-arrows">
          <polygon class="arrow-top" points="37.6,27.9 1.8,1.3 3.3,0 37.6,25.3 71.9,0 73.7,1.3 " />
          <polygon class="arrow-middle" points="37.6,45.8 0.8,18.7 4.4,16.4 37.6,41.2 71.2,16.4 74.5,18.7 " />
          <polygon class="arrow-bottom" points="37.6,64 0,36.1 5.1,32.8 37.6,56.8 70.4,32.8 75.5,36.1 " />
        </svg>
      </div>
    </div>


  </div>




</div>

<app-skills></app-skills>

<app-projects></app-projects>

<app-contact></app-contact>
