h2 {
  font-family: 'Unlock', cursive;
  text-align: center;
  text-decoration: underline;
}

.cont {
  box-shadow: 0 0 0 0;
  background-color: transparent;
  height: 100vh;
  margin-bottom: 10%;
}

.rowSelf {
  padding-top: 3%;
  margin-bottom: 2em;
}

img {
  width: 50px;
  height: 50px;
  margin: 5px;
}

#selfimage {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 5px solid #fff;
  margin-bottom: 2em;
  object-fit: cover;
  transition: all .4s;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.6);
}

#selfimage:hover {
  margin-top: 10px;
  transition: all .4s;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .6);
}

.names {
  font-family: 'Chela One', cursive;
  font-size: 50px;
  color: #fff;
}

.name2 {
  margin-left: 40px;
}

.Aboutme {
  padding: 20px;
  margin-bottom: 2em;
  font-size: 18px;
  -webkit-animation: slide 2s linear 1;
  animation: slide 2s linear 1;
}

@keyframes slide {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes slide {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Arrow & Hover Animation START*/
#more-arrows {
  width: 75px;
  height: 65px;
}

#more-arrows:hover polygon {
  fill: #fff;
  transition: all .2s ease-out;
}

#more-arrows:hover polygon.arrow-bottom {
  -webkit-transform: translateY(-18px);
  transform: translateY(-18px);
}

#more-arrows:hover polygon.arrow-top {
  -webkit-transform: translateY(18px);
  transform: translateY(18px);
}

polygon {
  fill: #000;
  transition: all .2s ease-out;
}

polygon.arrow-middle {
  opacity: 0.75;
}

polygon.arrow-top {
  opacity: 0.5;
}

/* Arrow & Hover Animation END */
/* CARD HOVER EFFECT START */
figure {
  font-weight: 400;
  font-size: 1em;
  color: #fff;
  font-family: 'Raleway', Arial, sans-serif;
  width: 450px;
  height: 270px;
  border-radius: 5px;
  background-image: linear-gradient(45deg, #2e5d5a 70%, #fff 70%, #fff 80%, rgba(255, 191, 0) 80%, rgba(255, 191, 0) 90%, #fff 90%, #fff 98%, #2e5d5a 98%);
  backface-visibility: hidden;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: pointer;
  transition: 0.6s;
  transform-style: preserve-3d;
  margin-bottom: 10%;
  box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.5);
}

figure .caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  padding: 2em;
}

.front .caption {
  font-size: 1.5em;
}

.front .caption:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.8) 75%);
  content: '';
  opacity: 0;
  transform: translate3d(0, 50%, 0);
  transition: opacity 0.35s, transform 0.35s;
}

.front:hover .caption:before {
  opacity: 0.8;
  transform: translate3d(0, 0, 0);
}

.front h1 {
  word-spacing: -0.15em;
  font-weight: 300;
  font-size: 1.6em;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  color: #000;
  transition: transform 0.35s, color 0.35s;
  transform: translate3d(0, -50%, 0);
}

.front h1 span {
  font-weight: bold;
}

.front h1:after {
  position: absolute;
  bottom: -10px;
  left: 70px;
  right: 70px;
  height: 2px;
  background: #fff;
  content: '';
  transition: transform 0.35s;
  transform: translate3d(-130%, 0, 0);
}

.front:hover h1 span {
  color: rgba(255, 191, 0);
}

.front:hover h1 {
  color: #fff;
  -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -70px, 0);
  transform: translate3d(0, -50%, 0) translate3d(0, -70px, 0);
}

.front:hover h1:after {
  transform: translate3d(0, 0, 0);
}

/* DIRECTION OF HIDDEN CONTENT AND FEATURES */
.front p {
  letter-spacing: 1px;
  font-size: 68.5%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
  width: 100%;
  opacity: 0;
  transform: translate3d(0, 80px, 0);
  transition: opacity 0.5s, transform 0.35s;
}

.front:hover p {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/* CARD HOVER EFFECT END */
/* CLASS FOR MEDIA QUERIES */
@media only screen and (max-width: 1500px) {
  #selfimage {
    width: 300px;
    height: 300px;
    display: inline-flex;
  }

  figure {
    width: 300px;
    height: 180px;
  }
}

@media (max-width: 746px) {}
