<div class="container">
  <div class="row rowSelf">

    <div class="col-md-6">
      <img id="selfimage" src="src/assets/images/photo.jpg">
    </div>
    <div class="col-md-6">
      <!-- <p class="names">Wesley</p>
      <p class="names">Mbate</p>
      <p class="names">Software</p>
      <p class="names">Developer</p>
    </div> -->

  </div>


  <div class="Aboutme">
    <h2 >Wesley Mbate <img src="src/assets/images/programmer.png" ></h2>
    <hr>
    <p> I am a young IT enthuthiast who decided to dive into the exciting world of programming. I live in Nairobi, Kenya. I acquainted myself with coding skills from<a href="https://moringaschool.com/"> Moringa School</a>- A brilliant institution I should say. My intrinsic
      drive to do programming was inspired by wanting to discontinue a trend of constant consumerism; by learning how to give back to the community not only through creating brilliant Apps, but also teaching the skill to young aspiring computer
      programmers.<br>
    I am also a subtle self-taught artist <a href="https://drive.google.com/open?id=1hjtGKC5JUB8N9zLXGLn_JTIy1FCdR4cn"><strong>My art</strong></a> and in many ways <strong>art</strong> helped me in my amazing coding journey.It has helped me
      nature moral-excellencies like patience, gentleness, keenness and creativity.</p>

  </div>

</div>

<app-skills></app-skills>

<app-projects></app-projects>

<app-contact></app-contact>
