<div id="skills" class="container">

  <h3>Experience & Education</h3>

  <p class="section-description">My intrinsic drive to do programming was inspired by wanting to discontinue a trend of constant consumerism; by learning how to give back to the community not only through creating brilliant Apps, but also teaching my skills to young
    aspiring programmers.</p>

<!-- data-aos="fade-up" data-aos-offset="100" data-aos-duration="1000" -->

  <div class="row mx-0">
    <div class="col-md-6">

      <div class="experience-tree">
        <div class="experience-item" *ngFor="let experience of experiences;index as i" data-aos="fade-up" data-aos-offset="100 + (i * 20)" data-aos-duration="1000">
          <span class="dot-connector"></span>
          <span class="border-connector"></span>
          <h6>{{experience.role}} <a [href]="experience.website" target="_blank">@{{experience.company}}</a></h6>
          <span class="period">{{experience.period}}</span>
          <p class="m-0">{{experience.description}}</p>
        </div>
      </div>



    </div>
    <div class="col-md-6">



      <div class="skills-listing">
        <div class="skill-item" *ngFor="let skill of skills;index as i" data-aos="fade-up" data-aos-offset="100 + (i * 50)" data-aos-duration="1000">
          {{skill}}
        </div>
      </div>
    </div>
  </div>



</div>
