#skills {
  scroll-margin-top: 100px!important;

  .experience-tree {
    .experience-item {
      position: relative;
      padding-bottom: 30px;
      padding-left: 10px;
      font-family: 'Varela Round', sans-serif;

      &:hover {
        a {
          color: #f1d3bb!important;
          text-decoration: underline;
        }

        .border-connector,
        .dot-connector {
          background-color: #f1d3bb;
        }
      }

      &:last-child {
        .border-connector {
          display: none;
        }
      }

      .dot-connector {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: #5f6063;
        display: inline-block;
        position: absolute;
        top: 3px;
        left: -15px;
        transition: all 0.2s;
      }

      .border-connector {
        height: 70%;
        width: 2px;
        display: inline-block;
        position: absolute;
        left: -11px;
        top: 18px;
        background-color: #5f6063;
        transition: all 0.2s;
      }

      h6 {
        color: #f1f1f1;
        font-size: 1rem;

        a {
          color: #f1f1f1;
          cursor: pointer;
          text-decoration: underline;
        }
      }

      .period {
        display: block;
        color: #f1f1f1;
        font-size: 0.85rem;
      }

      p {
        letter-spacing: 1px;
        color: #f1f1f1;
      }
    }
  }

  .skills-listing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .skill-item {
      padding: 4px 15px;
      margin: 10px;
      font-size: 1rem;
      background-color: transparent;
      color: #f1d3bb;
      border: 1px solid #f1d3bb;
      border-radius: 0;
    }
  }

  .resume-link{
    margin: 30px auto;
    text-align: center;

    a{
      color: #fff;
      &:hover{
        i{
          position: relative;
          left: 20px;
        }
      }
      i{
        transition: all .2s;
        position: relative;
        left: 10px;
      }
    }
  }
}

// ************************************************
// MEDIA QUERIES
// *****************************************
//
//
@media(max-width: 1000px) {
  .skills-listing{
    margin-bottom: 4vh;
  }
  .resume-link {
    margin-bottom: 7vh!important;
  }
}
