/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,800);
@import url(https://fonts.googleapis.com/css?family=Lato:300,700);

/* url(src/assets/images/rawpixel-658240-unsplash.jpg); */
body {
  font-family: 'Song Myung', serif;
  background-image: linear-gradient(  45deg,
  rgba(0, 0, 0, 0.1) 84%, rgba(135, 67, 13, 1) 84%,
  rgba(135, 67, 13, 1) 90% ,rgba(255,191,0) 90%,
  rgba(255,191,0) 95%, rgba(0, 0, 0, 0) 95%,
   rgba(0,0,0,0) 99%, rgba(135, 67, 13, 1) 99% ),
   linear-gradient(  225deg,
   rgba(0, 0, 0, 0.1) 84%, rgba(135, 67, 13, 1) 84%,
   rgba(135, 67, 13, 1) 90% ,rgba(255,191,0) 90%,
   rgba(255,191,0) 95%, rgba(0, 0, 0, 0) 95%,
    rgba(0,0,0,0) 99%, rgba(135, 67, 13, 1) 99% );
  background-color: whitesmoke;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

button {
  border-radius: 50%;
  margin: 0;
}

.container {}

/* for Menu Bar */
.icon-bar {
  padding-top: 20px;
  position: fixed;
  font-family: 'Righteous', cursive;
  border-bottom: 2px solid #000;
}

.icon-bar a {
  display: block;
  text-align: center;
  font-family: 'Unlock', cursive;
  font-size: 20px;
  padding: 10px;
  transition: all 0.3s ease;
  color: #000;
  text-decoration: none;
  position: relative;
}

.icon-bar a:hover {
  color: #5FA01D;
  text-align: center;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.active {
  background-color: #5FA01D;
  border-radius: 5px;
}

#logoIcon {
  margin-left: 25%;
  width: 100px;
  height: 100px;
}

#namoe {
  text-align: center;
  color: #000;
  font-size: 30px;
  text-decoration: underline;
}

/* CLASS FOR MEDIA QUERIES */
@media(max-width: 1000px) {
  .icon-bar {
    display: none;
  }

}

@media (max-width: 746px) {}
