/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,800);
@import url(https://fonts.googleapis.com/css?family=Lato:300,700);

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Song Myung', serif;
  background-image: linear-gradient(45deg,
    rgba(0, 0, 0, 0.1) 84%, rgba(135, 67, 13, 1) 84%,
    rgba(135, 67, 13, 1) 90%, rgba(255, 191, 0) 90%,
    rgba(255, 191, 0) 95%, rgba(0, 0, 0, 0) 95%,
    rgba(0, 0, 0, 0) 99%, rgba(135, 67, 13, 1) 99%),
    linear-gradient(225deg,
    rgba(0, 0, 0, 0.1) 84%, rgba(135, 67, 13, 1) 84%,
    rgba(135, 67, 13, 1) 90%, rgba(255, 191, 0) 90%,
    rgba(255, 191, 0) 95%, rgba(0, 0, 0, 0) 95%,
    rgba(0, 0, 0, 0) 99%, rgba(135, 67, 13, 1) 99%);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

button {
  border-radius: 50%;
  margin: 0;
}

/* NAVBAR */
nav {
  background-color: #fff;
  color: #fff !important;
  box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.6);
}

nav .navbar-brand {
  font-family: 'Unlock', cursive;
  border: 2px solid;
  border-radius: 0 10px 0 10px;
  padding: 5px;
}

nav a {
  text-decoration: none;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

nav a:before {
  position: absolute;
  width: 2px;
  height: 100%;
  left: 0px;
  top: 0px;
  content: '';
  background: #000;
  opacity: 0.5;
  transition: all 0.3s;
}

nav a:hover:before {
  background-color: #fff;
  width: 100%;
}

nav img {
  width: 30px;
  height: 30px;
  visibility: hidden;
}

#logoIcon {
  width: 30px;
  height: 30px;
  visibility: visible;
}

/* NAVBAR END */
/* CLASS FOR MEDIA QUERIES */
@media(max-width: 1000px) {
}

@media (max-width: 700px) {
  .navbar-brand {}

  nav img {
    width: 40px;
    height: 40px;
    visibility: visible;
  }
}
