/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,800);
@import url(https://fonts.googleapis.com/css?family=Lato:300,700);

body {
  font-family: 'Exo', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

/* NAVBAR */
nav {
  background-color: #fff;
  box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
}

nav .navbar-brand {
  font-family: 'Unlock', cursive;
  border: 2px solid;
  border-radius: 0 10px 0 10px;
  padding: 5px;
  background: linear-gradient(30deg, rgba(255, 191, 0), #000, rgba(255, 191, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav .nav-link {
  font-family: 'Righteous', cursive;
  text-decoration: none;
  color: #3c4043 !important;
  margin: 0px 10px;
  padding: 5px 5px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

nav .nav-link:after {
  position: absolute;
  left: 5px;
  height: 4px;
  background: #000;
  content: "";
  opacity: 0;
  transition: all .2s ease;
}

nav .nav-link:after {
  width: 40px;
  border-radius: 20px;
  bottom: 0px;
  transform: translateX(-10px);
}

nav .nav-link:hover:after {
  opacity: 1;
  transform: translateX(5px);
}

nav .nav-link {}

.nav-item {
  display: inline-flex;
}

nav ul {
  padding: 0 !important;
  margin: 0 !important;
}

nav span i {
  color: #000;
  visibility: hidden;
}

#logoIcon {
  width: 30px;
  height: 30px;
  visibility: visible;
}

/* NAVBAR END */
/* CLASS FOR MEDIA QUERIES */
@media(max-width: 1000px) {}

@media (max-width: 760px) {
  body {
    overflow-x: hidden;
  }

  nav ul li a:nth-child(2) {
    margin: 0 !important;
    padding: 0 !important;
  }

  nav a {
    text-decoration: none !important;
  }

  nav a .fas {
    color: #3c4043 !important;
    cursor: pointer;
    text-align: center;
    margin: 5px 15px;
    font-size: 20px;
    visibility: visible;
    text-decoration: none !important;
  }

  nav .nav-link {
    display: none;
  }
}
