/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import './assets/css/font-exo.css';
@import './assets/css/font-varela-round.css'; // @import '../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css';
// @import '../node_modules/@fortawesome/fontawesome-free/css/solid.css';
// @import '../node_modules/@fortawesome/fontawesome-free/css/brands.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Exo', sans-serif;
  scroll-behavior: smooth !important;
  overflow-x: hidden !important;
  background-color: #212121;
}

* img::selection {
  background-color: transparent!important;
}

* img {
  user-drag: none !important;
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-drag: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
}

::selection {
  color: #f1f1f1;
  background-color: #80868b!important;
}

.section-title,.secondary-section-title {
  color: #f1f1f1;
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.section-description {
  color: #f1f2f3;
  max-width: 80%;
  margin: 40px auto;
  text-align: center;
}
@media (max-width: 760px) {
  body {
    overflow-x: hidden!important;
  }

  .text-ms-left {
    text-align: left!important;
  }

  .text-ms-center {
    text-align: center!important;
  }

  .text-ms-right {
    text-align: right!important;
  }
}
